.gameboard{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
}

.gamebox {
    background-color: blue;
    border-radius: 5px;
    padding: 20px;
    color: #fff;
}
